/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;500;600;800&family=Source+Sans+3:wght@400;600;700&display=swap");
:root {
  --main-color: #e30613;
  --light-color: #afafaf;
  --bg-color: #f0f0f0;
  --text-color: #0d0d0d;
  --font-family: "Cairo", sans-serif;
}

body {
  font-family: var(--font-family) !important;
}
.text {
  color: var(--text-color);
}
.title {
  font-weight: 500;
}
.border {
  border: 1px solid var(--main-color);
}
.homeBorder {
  border: 1px solid var(--light-color);
}

.status {
  padding: 20px;
  border-radius: 5px;
}
.table-bg {
  color: var(--light-color);
  background-color: var(--bg-color);
}
.bg {
  background-color: var(--bg-color);
}
.btn {
  background-color: var(--main-color);
  color: var(--bg-color);
  font-weight: 400;
}
.info {
  font-weight: 800;
}
.line {
  height: 1px;
  background-color: var(--bg-color);
}
.lineBorder {
  border: 1px solid var(--light-color);
  height: 100px;
  padding: 20px 50px 90px;
  margin: 0 auto;
}
.lineUI {
  height: 4px;
  width: 100%;
  position: relative;
  background-color: var(--light-color);
  border-radius: 10px;
}

.stateDel {
  height: 4px;
  width: 100%;
  background-color: #00c54d;
  color: #f0f0f0;
}
.stateCancel {
  height: 4px;
  width: 70%;
  background-color: var(--main-color);
}

.stateDuring {
  height: 4px;
  width: 70%;
  background-color: #ffb12b;
}
.items {
  position: relative;
  top: -5px;
  display: flex;
  justify-content: space-between;
  background-color: #00c54d;
}
/* Del */
.roundDel1 {
  padding: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;

  position: absolute;
  top: -5px;
  right: -10px;
}
.roundDel2 {
  padding: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;

  position: absolute;
  top: -5px;
  right: 33.3%;
}
.roundDel3 {
  padding: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;

  position: absolute;
  top: -5px;
  right: 66.6%;
}
.roundDel4 {
  padding: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: 99%;
}
/* Canel */
.roundCal3 {
  padding: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  position: absolute;
  top: -15px;
  right: 66.6%;
}
.roundCal4 {
  padding: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  position: absolute;
  top: -15px;
  right: 99%;
}
.modal-custom {
  max-width: 300px;
  width: 100%;
}
.custom-modal-backdrop {
  background-color: rgba(0, 0, 0, 0);
}
.active {
  color: var(--main-color);
}

.navBtn {
  border: none;
  background-color: transparent;
}

.customStepConnector {
  border-width: 4px !important;
  border-radius: 2px !important;
}
.name2 {
  padding-left: 210px;
}
.name3 {
  padding-left: 80px;
}
.name4 {
  padding-left: -60px;
}
