/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;500&family=Source+Sans+3:wght@400;600;700&display=swap");
:root {
  --main-color: #e30613;
  --light-color: #f0f3f2;
  --text-color: #0d0d0d;
  --shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
    rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
    rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
  --font-family: "Cairo", sans-serif;
  --rating-color: #ffc908;
}

body {
  font-family: var(--font-family) !important;
}
.text {
  color: var(--text-color);
}
.border {
  border: 1px solid var(--main-color);
}
