/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;500&family=Source+Sans+3:wght@400;600;700&display=swap");
:root {
  --main-color: #e30613;
  --light-color: #afafaf;
  --bg-color: #f0f0f0;
  --text-color: #0d0d0d;
  --font-family: "Cairo", sans-serif;
}

body {
  font-family: var(--font-family) !important;
}
.text {
  color: var(--text-color);
}
.title {
  font-weight: 500;
}
.border {
  border: 1px solid var(--main-color);
}
.homeBorder {
  border: 1px solid var(--light-color);
}
.status {
  padding: 20px;
  border-radius: 5px;
}
.table-bg {
  color: var(--light-color);
  background-color: var(--bg-color);
}
.btn {
  background-color: var(--main-color);
  color: var(--bg-color);
  font-weight: 400;
}
